{% extends "invoicetasks/mainweb-base.html" %}

{% block additional_css_overrides %}
<style type="text/css">
    textarea{ height:42px; width:300px;}
</style>
{% endblock %}

{% block title %}Add a Client{% endblock %}
{% block heading %}Add a Client{% endblock %}
{% block client-tab %}active{% endblock %}


{% block form_submit_to %}{% url 'invoice_add' %}{% endblock %}
{% block add_website_form %}
<div class="well" style="width:484px;">
    <table width="650">
      {{form.as_table}}
    </table>
    <input type="submit" class="btn btn-success" value="Add Client" />
</div>
{% endblock %}

{% block action_button %}
    <input type="button" class="btn btn-danger pull-right" value="View Clients" 
                onclick="window.location='{% url 'client_view' %}';"/>
{% endblock %}
